body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dfdada;
}

/* .game__info {
    display: flex;
    gap: 50px;
}

#game-container {
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td {
    width: calc(100% / 30);
    height: calc(100% / 30);
    border: 1px solid #000000;
} */


#game-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.snake {
    background-color: #00f;
}

.food {
    /* background-color: #f00; */
    background-image: url(../src/icons/food.png);
    background-repeat: no-repeat;
    background-size: cover;
}